<div class="photo-images">
  <img ng-src="{{photo.imageUrl}}"
       class="photo">
</div>

<h1>{{photo.name}}</h1>

<p>{{photo.description}}</p>

<ul class="specs">
  <li>
    <span>Content</span>
    <dl>
      <dt>Type</dt>
      <dd>{{photo.content-type}}</dd>
      <dt>Date</dt>
      <dd>{{photo.date}}</dd>
      <dt>Dimensions</dt>
      <dd>{{photo.dimensions}}</dd>
    </dl>
  </li>
  <li>
    <span>Exposure</span>
    <dl>
      <dt>Program</dt>
      <dd>{{photo.exposure-program}}</dd>
      <dt>Time</dt>
      <dd>{{photo.exposure-time}}</dd>
      <dt>F-Stop</dt>
      <dd>{{photo.f-stop}}</dd>
      <dt>Flash</dt>
      <dd ng-repeat="flash in photo.flash">{{flash}}</dd>
      <dt>Focal Length</dt>
      <dd>{{photo.focal-length}}</dd>
      <dt>ISO</dt>
      <dd>{{photo.iso-speed}}</dd>
    </dl>
  </li>
</ul>
