<div class="photo-images">
  <img ng-src="{{img}}"
       class="photo"
       ng-repeat="img in photo.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{photo.name}}</h1>

<p>{{photo.description}}</p>

<ul class="photo-thumbs">
  <li ng-repeat="img in photos.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Content</span>
    <dl>
      <dt>Type</dt>
      <dd>{{photo.content-type}}</dd>
      <dt>Date</dt>
      <dd>{{photo.date}}</dd>
      <dt>Dimensions</dt>
      <dd>{{photo.dimensions}}</dd>
    </dl>
  </li>
  <li>
    <span>Exposure</span>
    <dl>
      <dt>Program</dt>
      <dd>{{photo.exposure-program}}</dd>
      <dt>Time</dt>
      <dd>{{photo.exposure-time}}</dd>
      <dt>F-Stop</dt>
      <dd>{{photo.f-stop}}</dd>
      <dt>Flash</dt>
      <dd ng-repeat="flash in photo.flash">{{flash}}</dd>
      <dt>Focal Length</dt>
      <dd>{{photo.focal-length}}</dd>
      <dt>ISO</dt>
      <dd>{{photo.iso-speed}}</dd>
    </dl>
  </li>
</ul>

"name": "Hills",
	"content-type": "image/jpeg",
	"date": "2013:10:03 21:26:39",
	"dimensions": "3264 x 2448",
	"exposure-program": "Normal",
	"exposure-time": "1/16",
	"f-stop": "2.4",
	"flash": "Auto, Fired",
	"focal-length": "4",
	"iso-speed": "800",
